html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
ul,
ol,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Myriad Pro";
  font-weight: 400;
  font-size: 14px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  padding: 25px;
  text-decoration: none;
  width: 305px;
  color: #ffffff;
  font-size: 21px;
  background: linear-gradient(135deg, #009ea0 0%, #7db9e8 20%, #722599 55%, #008040 100%);
  margin: 0 auto;
}

.button:hover {
  opacity: 0.7;
}

.button:active {
  opacity: 0.4
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.header {
  background-image: url("img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 22px;
  padding-left: 150px;
}
.header__name {
  font-size: 25px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 100;
  letter-spacing: 1px;
}

.header__title {
  color: #331db3;
  font-size: 100px;
  font-weight: 300;
  font-family: "Myriad Pro";
  line-height: 1.2em;
  text-align: left;
  width: 50%;
  letter-spacing: 4px;
}

.header__text {
  color: #6666cc;
  font-size: 28px;
  line-height: 1.8em;
  width: 50%;
    
}

.header__text .text-green {
  color: #009933;
}

.header__button {
  margin-top: 50px;
  margin-left: 400px;
}

.header__nav {
  display: block;
  list-style: none;
  display: flex;
  background: linear-gradient(135deg, #009ea0 0%, #7db9e8 20%, #722599 55%, #008040 100%);
  padding: 30px;
  margin-left: -150px;
  margin-top: 15px;
  justify-content: center;
  margin-bottom: 30px;
}

.header__link {
  border-right: 2px solid #ffffff;
  padding-right: 20px;
  padding-left: 20px;
}

.header__link a {
  color: #ffffff;
  font-size: 18px;
}

.header__link a:hover {
  display: block;
  transform: scale(1.1);
}

.page-title {
  text-align: center;
  color: #ffffff;
  background-color: #7fc569;
  font-size: 50px;
  line-height: 20px;
  padding: 25px;
  font-weight: 400;
}

.audience {
  background-image: url("img/promo.png");
  padding-bottom: 735px;
  margin-bottom: 40px;
}

.audience__list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
}

.audience__item {
  display: block;
  border: 1px solid #c3ced6;
  border-radius: 5px;
  color: #2d1094;
  background-color: transparent;
  text-align: center;
  padding: 20px;
  width: 370px;
  margin-right: 40px;
  margin-bottom: 20px;
  font-size: 28px;
  background-color: #ffffff;
}

.audience__item p {
  color: black;
  font-size: 18px;
}
.stop__name {
  color: #412cb8;
  text-align: center;
  font-size: 24px;
}

.stop__list {
  display: flex;
  flex-direction: column; 
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.stop__item {
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 2em;
  font-size: 18px;
}

.stop__item li{
  line-height: 2em;
}
.stop__item:nth-child(2n) {
  text-align: right;
}

.stop__item {
  border-bottom: 1px dashed #000000;
}

.stop__text {
  text-align: center;
  background-image: url("img/levin.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  font-size: 35px;
}

.stop__text p {
  font-size: 30px;
}

.promo {
  text-align: center;
  background-color: #19afd1;
  color: #ffffff;
  padding: 30px;
  font-size: 30px;
  margin-bottom: 55px;
}

.stop {
  margin-bottom: 60px;
  position: relative;
}

.nature__list {
  background: linear-gradient(to bottom, #add4f2 0%, #ffffff 100%);
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.nature__item:nth-child(2n+1) {
  text-align: right;
}

.nature__ask {
  text-align: center;
  font-size: 28px;
}

.promo__title {
  font-size: 37px;
}



.advantages__info {
  text-align: center;
  display: block;
  border-bottom: 1px dashed #000000;
}



.advantages__list {
  list-style: none;
  padding: 40px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.advantages__item:nth-child(2n) {
  text-align: right;
}



.nature {
  margin-bottom: 40px;
}

.results__name {
  display: block;
  text-align: center;
  color: #ff0066;
  font-size: 32px;
  margin-top: 20px;
}

.results__text {
  text-align: center;
  color: #351fb4;
  font-size: 21px;
}

.results__text span {
  color: black;
}

.results__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-top: 20px;
}

.results__item:nth-child(2n) {
  text-align: right;
}

.goals__title {
  text-align: center;
  color: #351fb4;
  font-size: 37px;
  padding: 0 190px;
}

.goals__title span {
  color: #ff0066;
}

.goals__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.goals__item {
  text-align: center;
  font-size: 16px;
  width: 33%;
  margin-bottom: 20px;
}

.goals__promo {
  padding-left: 100px;
  padding-right: 100px;
  font-weight: 300;
}

.guarantee__title {
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 40px;
}

.guarantee__text {
  font-size: 21px;
}

.guarantee__name {
  font-size: 29px;
  text-align: center;
  color: #2d1094;
  padding: 0 190px;
  border-bottom: 4px dashed black;
  padding-bottom: 30px;
  margin-top: 50px;
}

.guarantee__promo {
  text-align: center;
  border-bottom: 4px dashed black;
  font-size: 16px;
  padding-bottom: 20px;
}

.results__banner {
  color: #ff0066;
  background-color: #e8f3fb;
  text-align: center;
  padding: 40px;
  font-size: 20px;
  font-weight: 600;
}

.score__title {
  text-align: center;
  font-size: 45px;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 20px;
}

.score__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

.score__item {
  background-color: #e8f3fb;
  width: 45%;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 40px;
}

.score__text {
  text-align: center;
  font-size: 25px;
  padding: 0 250px;
  margin-bottom: 60px;
}

.results {
  margin-bottom: 40px;
}

.options__name {
  text-align: center;
  color: #de1486;
  font-size: 25px;
}

.options__name span {
  color: #2f3aa1;
  padding-top: 20px;
  display: block;
}

.options {
  background: linear-gradient(#add4f2 0%, #ffffff 35%, #ffffff 87%,#add4f2 100%);
}

.option__list {
  list-style: none;
}

.options__promo {
  color: #2d1094;
  text-align: center;
}

.time__name {
  color: #ff0066;
  font-size: 25px;
}

.time__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.time__item:nth-child(2n+1) {
  text-align: right;
}

.time__promo {
  background-color: #e8f3fb;
  padding: 40px;
  text-align: center;
  font-size: 22px;
}

.time__promo .text-green {
  color: #009933;
}

.time__promo b {
  color: red;
  font-weight: normal;
}

.time__text {
  color: #2f3aa1;
  text-align: center;
  font-size: 30px;
}

.time__text span {
  color: black;
}

.question {
  text-align: center;
}

.question__name {
  font-size: 30px;
}

.question__text {
  font-size: 16px;
}

.question__text span {
  color: red;
}

.question__promo {
  font-size: 20px;
}

.time {
  margin-bottom: 30px;
}

.author__name {
  text-align: center;
  color: #2f3aa1;
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 25px;
}

.author__info {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.author__photo {
  height: 520px;
  width: 520px;
}

.author__text {
  font-size: 29px;
  margin-left: 120px;
}

.author__link {
  color: green;
}

.author__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.author__item {
  text-align: center;
  color: #ff0066;
  font-size: 30px;
  font-weight: bold;
}

.author__item p {
  color: black;
  font-weight: normal;
  font-size: 18px;
}

.author__past {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.author__exp {
  width: 45%;
  margin-bottom: 30px;
  padding: 40px;
  font-size: 18px;
  background-color: #acd4f1;
  border: 1px solid transparent;
  border-radius: 10px;
}

.author__exp:nth-child(2n+1) {
  text-align: right
}

.author__warning {
  text-align: center;
  color: #331db3;
  font-size: 50px;
  font-weight: bold;
}

.author__qualification {
  background-color: #19afd1;
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  padding: 40px;
}

.author__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 83%;
  margin: 0 auto;
  margin-top: 30px;
}

.aithor__diplom {
  width: 350px;
  margin-bottom: 40px;
}

.author__mission {
  background-image: url("img/gradient.png");
  padding: 40px 150px;
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.gallery__title {
  color: #331db3;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.gallery {
  margin-top: 40px;
}

.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  justify-content: space-between;
  margin: 0 auto;
}

.gallery__photo {
  margin-bottom: 40px;
}

.gallery__photo--1 {
  width: 378px;
}

.gallery__photo--2 {
  width: 365px;
}

.gallery__photo--3 {
  width: 376px;
}

.gallery__photo--4 {
  width: 270px;
  height: 358px;
}

.gallery__photo--5 {
  width: 359px;
  height: 358px;
}

.gallery__photo--6 {
  width: 480px;
  height: 358px;
}

.feedback {
  background-image: url("img/footer.png");
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 60px;
  margin-bottom: 30px;
}

.feedback__list {
  list-style: none;
}
.stop__item--pen::before {
  content: "";
  width: 97px;
  height: 97px;
  background-image: url("img/pen.png");
  display: block;
  margin-bottom: 20px;
}

.stop__item--clock::before {
  content: "";
  width: 100px;
  height: 100px;
  background-image: url("img/clock.png");
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-top: 10px;
}

.stop__item-list {
  list-style: none;
}

.stop__item--face::before {
  content: "";
  width: 86px;
  height: 132px;
  background-image: url("img/face.png");
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-top: 20px;
  margin-right: 20px;
}

.stop__item--face {
  display: flex;
  align-items: center;
}

.stop__item--mount::before {
  content: "";
  width: 106px;
  height: 106px;
  background-image: url("img/mount.png");
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}

.stop__item--horse::before {
  content: "";
  width: 83px;
  height: 83px;
  background-image: url("img/horse.png");
  display: block;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.stop__item--horse {
  display: flex;
  align-items: center;
}



.stop__button::before {
  content: "";
  width: 48px;
  height: 72px;
  background-image: url("img/arrow.png");
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 85px;
}
